@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    text-align: center;
    vertical-align: middle;
}

.login {
    -webkit-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
    width: 300px;
    height: 190px;
    display: inline-block;
    margin-top: 20%;
}

.login table {
    margin-top: 10px;
    margin-bottom: 0px;
    margin: 10px
}

.title {
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    background-color: rgb(11, 184, 54);
}


/**/

.topnav {
    background-color: #333;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav input {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav nav {
    margin-left: 300px;
}


/* Change the color of links on hover */

.topnav input:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.topnav input.active {
    background-color: #4CAF50;
    color: white;
}

.topnav input {
    border: none;
    background: none;
    color: #f2f2f2;
    border-radius: 0;
}

.topnav form:hover .topnav input {
    color: black;
}

#account {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
}

#account button {
    border: none;
    height: 24.5px;
}

#account a {
    text-decoration: none;
    color: #f2f2f2;
}

.server {
    padding: 10px;
    border: solid rgb(117, 117, 117) 4px;
    width: 300px;
    margin: 40px;
    margin-top: 60px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.server h1 {
    font-size: 30px;
}

.server h2 {
    font-size: 24px;
}

.toolbar {
    text-align: left;
    margin-left: 25px;
}

.toolbar input {
    margin: 15px;
    float: left;
}

.server_S {
    padding: 10px;
    border: solid rgb(11, 184, 54) 4px;
    width: 300px;
    margin: 40px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.server_S h1 {
    font-size: 30px;
}

.server_S h2 {
    font-size: 24px;
}

main {
    margin-top: 60px;
}

.console #send {
    width: 81px;
}

table {
    text-align: left;
}

.player {
    height: 150;
    margin-left: 600px;
    padding-bottom: 20px;
    width: 700px;
    border-bottom: solid rgb(139, 139, 139) 1px;
}

.player img {
    float: left;
}

.player_Text h2 {
    display: inline;
}

.player_Text {
    margin-left: 100px;
    text-align: left;
}

.player_Text form {
    display: inline;
}

#addop {
    color: #fff;
    background-color: #2ea44f;
    border-color: rgba(27, 31, 35, .15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, .1), inset 0 1px 0 hsla(0, 0%, 100%, .03);
}

#remop {
    color: #fff;
    background-color: #cb2431;
    border-color: rgba(27, 31, 35, .15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, .1), inset 0 1px 0 hsla(0, 0%, 100%, .03);
}

#addwl {
    color: #fff;
    background-color: #2ea44f;
    border-color: rgba(27, 31, 35, .15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, .1), inset 0 1px 0 hsla(0, 0%, 100%, .03);
}

#remwl {
    color: #fff;
    background-color: #cb2431;
    border-color: rgba(27, 31, 35, .15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, .1), inset 0 1px 0 hsla(0, 0%, 100%, .03);
}